@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{

    <ul class="list-inline text-center text-muted">
        <li><a class="text-muted small" asp-controller="Admin" asp-action="Index">Admin</a></li>
        <li><a class="text-muted small" asp-controller="Account" asp-action="SignOut">Sign Out</a></li>
    </ul>
}

@if (!User.Identity.IsAuthenticated)
{
    <ul class="list-inline text-center">
        <li><a class="text-muted small" asp-controller="Account" asp-action="SignIn">Sign In</a></li>
    </ul>
}
