@model MLSoftware.Web.ViewModels.CommentViewModel

<h2>Leave a comment</h2>

<form asp-controller="Post" asp-action="Comment" method="post" class="form-horizontal" role="form">
    <input hidden asp-for="PostId" />
    <input hidden asp-for="RiddleValue1" />
    <input hidden asp-for="RiddleValue2" />

    <div class="form-group">
        <div class="col-md-8">
            <input asp-for="Name" class="form-control" placeholder="Name (Required)"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8">
            <input asp-for="Email" class="form-control" placeholder="Only used for showing your Gravatar (Optional)"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8">
            <div class="input-group">
                <div class="input-group-addon">@Model.RiddleValue1 + @Model.RiddleValue2 =</div>
                <input asp-for="RiddleResultValue" class="form-control" placeholder="???" />
            </div>
            <span asp-validation-for="RiddleResultValue" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <textarea asp-for="Content" class="form-control html-input" rows="4" placeholder="Your comment"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit Comment</button>
</form>
