@model MLSoftware.Web.ViewModels.PostViewModel

<ol class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    @if (Model.IsDraft)
    {
        <li><a asp-controller="Draft" asp-action="Index">Drafts</a></li>
    }
    <li class="active">@Model.Title</li>
</ol>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2>Delete post</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <span>Are you sure you want to delete the post: <strong>@Model.Title</strong>?</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <form asp-controller="Post" asp-action="Delete" method="post" class="form-horizontal" role="form">
            <input type="hidden" asp-for="Id" />
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Delete" class="btn btn-default" />
                        <a asp-controller="Post" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-default"> Cancel </a>
                    </div>
                </div>
            </div>
        </form> 
    </div>
</div>
