@model List<MLSoftware.Web.Model.Post>

@{
    ViewData["Title"] = "Drafts";
}

<ol class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="active">Drafts</li>
</ol>

<div class="row">
    <ul class="list-inline text-center">
        <li><a class="text-muted" asp-controller="Post" asp-action="Create"><i class="fa fa-plus-circle"></i> Add Post</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        @foreach (var item in Model)
        {
            <div class="post-preview">
                <a asp-controller="Post" asp-action="Details" asp-route-id="@item.Id">
                    <h2 class="post-title">
                        @item.Title
                    </h2>
                    <h3 class="post-subtitle">
                        @item.Description
                    </h3>
                </a>
                <p class="post-meta">Created by @item.Author</p>
            </div>
            @if (Model.IndexOf(item) != Model.Count - 1)
            {
                <hr>
            }
        }
    </div>
</div>
