.disclaimer {
    font-size: 12px;
}

.comment {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 35px;
    padding-top: 35px;
}

.col-fixed-110 {
    width: 240px;
}

.markdown-input {
    font-family: Consolas, monospace
}